html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*  Microondas Página  */

#div_geral_campos {
    display: inline-flex;
    border: dashed;
    width: 560px;
    padding: 0px;
}

#div_geral_programacao {
    /* display: inline-flex; */
    border: dashed;
    width: 560px;
    /* padding: 0px; */
    margin: 0px 0px 0px 369px;
}

#div_tempo {
    display: flex;
    border: dashed;
    width: 50%;
    position: relative;
    margin: 0px;
}

#div_potencia {
    display: flex;
    border: dashed;
    width: 50%;
    height: 72px;
    position: relative;
}

#div_botoes {
    display: inline-table;
    border: dashed;
    width: 560px;
    height: 118px;
    position: relative;
    margin: 1% 28%;
}

label.titulo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    display: flex;
    margin: 2% 2%;
    width: 132px;
    border: outset;
    height: 42px;
    padding: 0px 5px;
    /*text-align: center;
    position: relative;
    border: dashed;
    width: 560px;
    height: 118px;*/
}

label.titulo_programcao {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    display: flex;
    margin: 2% 2%;
    width: 285px;
    border: outset;
    height: 42px;
    padding: 0px 5px;
}

label.nomes_campos {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    display: inline-flex;
    margin: 2% 2%;
    width: 537px;
    border: outset;
    height: 42px;
    padding: 0px 5px;
}

label.nomes_campos.area {
    height: 154px;
 }
    

input.campo {
    display: inline-block;
    flex-direction: column;
    margin: 15px;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    width: 115px !important;
    height: 36px;
    align-items: center !important;
    padding: 0px 2px 2px 2px;
}

input.tempoFormato{
    display:none;
}

button.botao {
    flex-direction: column;
    margin-bottom: 15px;
    width: 50%;
    border-bottom-width: thick;
}

/*  Microondas Página  */
/*  Cadastro Página  */

#div_geral_campos_cadastro {
    border: dashed;
    display: inline-block;
    width: 1281px;
    padding: 0px;
}

#div_cadastro_linha {
    border: dashed;
    width: 100%;
    height: 57px;
    padding: 0px;
    margin: 0px;
}

#div_cadastro_linha_area {
    border: dashed;
    width: 100%;
    height: 267px;
    padding: 0px;
    margin: 0px;
}

label.titulo_cadastro {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin: 7px 6px;
    width: 262px;
    border: outset;
}

input.campo_cadastro {
    position: relative;
        width: 76% !important;
    margin: 7px 7px !important;
}

input.campo_cadastro_area {
    position: relative;
    width: 76% !important;
    height: 247px;
    margin: 7px 7px !important;
}


/*  Cadastro Página  */